.request-and-responses-container {
}

.responses-container {
  margin: 10px 0px 10px 50px;

  overflow-y: auto;
}

.outgoingrequest-holder, .incomingrequest-holder {
  margin-bottom: 5px;
}

.outgoingrequest-holder-editable, .incomingrequest-holder-editable {
  border-radius: 3px;
  
  color: black;
  background: rgb(230, 210, 180);
}

.outgoingrequest-editpanel {
  padding: 5px 5px 0 5px;
}

.outgoingrequest-text-holder, .incomingrequest-text-holder {
  padding: 2px 5px 2px 5px;
  
  border-radius: 3px;
  border-bottom-style: groove;
  border-bottom-width: 1px;
  border-bottom-color: black;
  border-right-style: groove;
  border-right-width: 1px;
  border-right-color: black;
  
  color: black;
}
.outgoingrequest-text-holder {
  background: rgb(135, 225, 200);
}
.incomingrequest-text-holder {
  background: rgb(125, 200, 225);
}

.outgoingrequest-text-holder-activable, .incomingrequest-text-holder-activable {
}

.outgoingrequest-text-holder-activable:hover {
  color: white;
  background: rgb(5, 110, 75);
}

.outgoingrequest-text-holder-activable:active {
  color: white;
  background: rgb(95, 115, 110);
}

.incomingrequest-text-holder-activable:hover {
  color: white;
  background: rgb(25, 120, 135);
}

.incomingrequest-text-holder-activable:active {
  color: white;
  background: rgb(85, 110, 115);
}
  
  
.outgoingrequest-controls, .incomingrequest-controls {
  padding: 5px;
  text-align: right;
}

.outgoingrequest-editbutton {
}

.outgoingrequest-updatebutton {
}

.outgoingrequest-deactivatebutton {
}

.outgoingrequest-cancelbutton {
}


.incomingrequest-commentbutton {
}


.outgoingresponse-createresponsepanel {
  margin-top: 20px;
}

.outgoingresponse-controls {
  margin-top: 5px;
  text-align: right;
}

.outgoingresponse-editbutton {
}

.outgoingresponse-submitbutton {
}

.outgoingresponse-updatebutton {
}

.outgoingresponse-cancelbutton {
}


.incomingresponse-text-holder, .outgoingresponse-text-holder {
  padding: 2px 5px 2px 5px;
  
  margin-bottom: 5px;
  
  border-radius: 3px;
  border-bottom-style: groove;
  border-bottom-width: 1px;
  border-bottom-color: black;
  border-right-style: groove;
  border-right-width: 1px;
  border-right-color: black;
  
  color: black;
  background: rgb(220, 230, 250);
}

.incomingresponse-text-holder-activable, .outgoingresponse-text-holder-activable {
  color: black;
  background: rgb(125, 200, 255);
}

.incomingresponse-text-holder-activable:hover, .outgoingresponse-text-holder-activable:hover {
  color: white;
  background: rgb(20, 120, 200);
}

.incomingresponse-text-holder-activable:active, .outgoingresponse-text-holder-activable:active {
  color: white;
  background: rgb(60, 25, 255);
}

