.outgoing-request-container {
  position: relative;
  padding: 5px;
  min-width: 500px;
  
  border-style: solid;
  border-width: 1px;
  border-color: rgb(191, 191, 191);
  
  background-color: rgb(254, 226, 169);
  color: rgb(129, 129, 129);
  
  font-family: Verdana;
  font-size: 12px;
}
.outgoing-request-container:nth-child(2n) {
  background-color: rgb(237, 237, 237);
}
.outgoing-request-container:hover {
  background-color: rgb(255, 153, 0);
}
.outgoing-request-container:active {
  background-color: green;
}
.outgoing-request-container .request-date-label {
  margin-left: 10px;
  height: 15px;
  
  color: inherit;
}
.outgoing-request-container .request-target-label {
  position: absolute;
  left: 300px;
  top: 5px;
  
  color: inherit;
}
.outgoing-request-container .request-responsecounter-label {
  position: absolute;
  right: 20px;
  top: 5px;
  
  color: inherit;
}
.outgoing-request-container .request-expertise-label {
  position: absolute;
  right: 20px;
  top: 25px;
  
  color: inherit;
}
.outgoing-request-container .request-text {
  margin-left: 30px;
  margin-top: 5px;
  max-width: 400px;
  overflow: hidden;
  white-space: nowrap;
  
  color: rgb(39, 39, 39);
}

.full-outgoing-request-container {
  position: relative;
  padding-top: 5px;
  min-width: 500px;
  
  border-style: solid;
  border-width: 1px;
  border-color: rgb(191, 191, 191);
  
  background-color: rgb(253, 241, 215);
  color: rgb(129, 129, 129);
  
  font-family: Verdana;
  font-size: 12px;
}
.full-outgoing-request-container .request-date-label {
  display: block;
  margin-bottom: 5px;
  margin-left: 10px;
  height: 15px;
  
  color: inherit;
}
.full-outgoing-request-container .request-target-label {
  position: absolute;
  left: 200px;
  top: 5px;
  
  color: inherit;
}
.full-outgoing-request-container .request-expertise-label {
  position: absolute;
  right: 200px;
  top: 5px;
  
  color: inherit;
}
.full-outgoing-request-container .request-responsecounter-label {
  position: absolute;
  right: 20px;
  top: 5px;
  
  color: inherit;
}
.full-outgoing-request-container .request-quantity-label {
  margin-left: 10px;

  color: inherit;
}
.full-outgoing-request-container .request-timeframe-label {
  margin-left: 200px;
  
  color: inherit;
}
.full-outgoing-request-container .request-text {
  margin-top: 5px;
  padding: 5px;
  
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgb(191, 191, 191);
  
  background-color: rgb(254, 226, 169);
  color: rgb(39, 39, 39);
}
.full-outgoing-request-container .request-attachmentbar {
  margin: 5px 5px 0px 5px;
}


.incoming-request-container {
  position: relative;
  padding: 5px;
  min-width: 500px;
  
  border-style: solid;
  border-width: 1px;
  border-color: rgb(191, 191, 191);
  
  background-color: rgb(215, 236, 249);
  color: rgb(129, 129, 129);
  
  font-family: Verdana;
  font-size: 12px;
}
.incoming-request-container:nth-child(2n) {
  background-color: rgb(237, 237, 237);
}
.incoming-request-container:hover {
  background-color: rgb(145, 201, 253);
}
.incoming-request-container:active {
  background-color: green;
}
.incoming-request-container .request-date-label {
  margin-left: 10px;
  height: 15px;
  
  color: inherit;
}
.incoming-request-container .request-expires-label {
  position: absolute;
  left: 300px;
  top: 5px;
  
  color: inherit;
}
.incoming-request-container .request-expertise-label {
  position: absolute;
  right: 20px;
  top: 25px;
  
  color: inherit;
}
.incoming-request-container .request-text {
  margin-left: 30px;
  margin-top: 5px;
  max-width: 400px;
  overflow: hidden;
  white-space: nowrap;

  color: rgb(39, 39, 39);
}

.full-incoming-request-container {
  position: relative;
  padding-top: 5px;
  min-width: 500px;
  
  border-style: solid;
  border-width: 1px;
  border-color: rgb(191, 191, 191);
  
  background-color: rgb(215, 236, 249);
  color: rgb(129, 129, 129);
  
  font-family: Verdana;
  font-size: 12px;
}
.full-incoming-request-container .request-date-label {
  margin-left: 10px;
  height: 15px;
  
  color: inherit;
}
.full-incoming-request-container .request-expires-label {
  position: absolute;
  left: 300px;
  top: 5px;
  
  color: inherit;
}
.full-incoming-request-container .request-expertise-label {
  position: absolute;
  right: 20px;
  top: 5px;
  
  color: inherit;
}
.full-incoming-request-container .request-text {
  margin-top: 5px;
  padding: 5px;
  
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgb(191, 191, 191);
  
  background-color: rgb(145, 201, 253);
  color: rgb(39, 39, 39);
}
.full-incoming-request-container .request-attachmentbar {
  margin: 5px 5px 0px 5px;
}


.incoming-response-container {
  position: relative;
  min-width: 500px;
  
  border-style: solid;
  border-width: 1px;
  border-color: rgb(191, 191, 191);
  
  background-color: rgb(237, 237, 237);
  color: rgb(129, 129, 129);
  
  font-family: Verdana;
  font-size: 12px;
}
.incoming-response-container:nth-child(2n) {
  background-color: rgb(237, 237, 237);
}
.incoming-response-container:hover {
  border-color: black;
}
/*
.incoming-response-container:active {
  background-color: green;
}
*/
.incoming-response-container .response-header {
  height: 20px;
  background-color: rgb(247, 247, 247);
}
.incoming-response-container .response-header-unread {
  background-color: rgb(220, 220, 220);
  color: black;
  font-weight: bold;
}
.incoming-response-container .response-date-label {
  position: absolute;
  top: 3px;
  left: 10px;
  
  color: inherit;
}
.incoming-response-container .response-from-label {
  position: absolute;
  left: 300px;
  top: 3px;
  
  color: inherit;
}
.incoming-response-container .response-remover {
  position: absolute;
  top: 0px;
  right: 0px;
  
  display: none;
  
  width: 20px;
  height: 20px;

  background-image: url(../../imgs/close.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  
  border-radius: 5px;
}
.incoming-response-container:hover .response-remover {
  display: inline-block;
}
.incoming-response-container:hover .response-remover:hover {
  background-color: rgb(225, 90, 80);
}
.incoming-response-container:hover .response-remover:active {
  background-color: rgb(225, 60, 50);
}
.incoming-response-container .response-text {
  padding: 5px;
  
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgb(191, 191, 191);
  
  color: rgb(39, 39, 39);
}
.incoming-response-container .response-attachmentbar {
  margin: 5px;
}
.incoming-response-container .response-contactinfopanel {
  margin: 5px;
  height: 18px;
}
.incoming-response-container .response-contactinfopanel .response-contactinfo {
  padding-top: 5px;
  font-size: 12px;
}
.incoming-response-container .response-contactinfopanel .response-starrating {
  float: right;
  margin-right: 20px;
}

.outgoing-response-container {
  position: relative;
  min-width: 500px;
  
  border-style: solid;
  border-width: 1px;
  border-color: rgb(191, 191, 191);
  
  background-color: rgb(237, 237, 237);
  color: rgb(129, 129, 129);
  
  font-family: Verdana;
  font-size: 12px;
}
.outgoing-response-container:nth-child(2n) {
  background-color: rgb(237, 237, 237);
}
.outgoing-response-container .response-header {
  height: 20px;
  background-color: rgb(247, 247, 247);
}
.outgoing-response-container .response-header-unread {
  background-color: rgb(220, 220, 220);
  color: black;
  font-weight: bold;
}
.outgoing-response-container .response-date-label {
  position: absolute;
  top: 3px;
  left: 10px;
  
  color: inherit;
}
.outgoing-response-container .response-text {
  padding: 5px;
  
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgb(191, 191, 191);
  
  color: rgb(39, 39, 39);
}
.outgoing-response-container .response-attachmentbar {
  margin: 5px;
}


.items-view {
}
.items-view .incoming-request-container {
  margin-bottom: 5px;
}
.items-view .outgoing-request-container {
  margin-bottom: 5px;
}
.items-view .incoming-response-container {
  margin-bottom: 5px;
}
.items-view .outgoing-response-container {
  margin-bottom: 5px;
}


.request-table {
}
.request-table .request-table-footer {
  margin-top: 20px;
}
.request-table .request-table-footer .request-table-statuslabel {
}
.request-table .request-table-footer .request-table-tablecontrolpanel {
  float: right;
}
.request-table .request-table-footer .request-table-tablecontrolpanel .request-table-nextbutton {
}
.request-table .request-table-footer .request-table-tablecontrolpanel .request-table-previousbutton {
}
.request-table .request-table-footer .request-table-tablecontrolpanel .request-table-pagebuttonpanel {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 100px;
  text-align: center;
}
.request-table .request-table-footer .request-table-tablecontrolpanel .request-table-pagebuttonpanel .request-table-pagebutton {
  margin-left: 3px;
  margin-right: 3px;
}
