#ActiveRequestsPage {
}

#ActiveRequestsPage-GeneralPanel {
  height: 50px;
  
  font-size: 20px;
}

#ActiveRequestsPage-RequestsPanel {
  margin-top: 20px;
  height: calc(100% - 50px - 20px);
  overflow: scroll;
  padding-right: 10px;
}

