#ActiveRequestsPage {
}

#ActiveRequestsPage-GeneralPanel {
  height: 50px;
  
  font-size: 20px;
}

#ActiveRequestsPage-RequestsPanel {
  margin-top: 20px;
  padding-right: 10px;
  height: calc(100% - 50px - 20px);
  width: calc(100% - 10px);
  overflow: auto;
}

