#AllOutgoingRequestsPage {
}

#AllOutgoingRequestsPage-ContentPanel {
  max-width: 700px;
  margin-top: 10px;
}

#AllOutgoingRequestsPage-ContentPanel-Title {
  font-family: Verdana;
  font-size: 20px;
  
  color: rgb(255, 153, 0);
}

#AllOutgoingRequestsPage-ContentPanel-NoRequestsNote {
  width: 400px;
  margin-top: 20px;
  margin-left: 100px;
}

#AllOutgoingRequestsPage-ContentPanel-RequestTable {
  margin-top: 20px;
}

