#AllIncomingRequestsPage {
}

#AllIncomingRequestsPage-GeneralPanel {
  font-size: 20px;
}

#AllIncomingRequestsPage-GeneralPanel-Text {
  font-size: 20px;
}

#AllIncomingRequestsPage-GeneralPanel-SeeActive {
  font-size: 15px;
}

#AllIncomingRequestsPage-TablePanel {
  margin-top: 30px;
}

