#AllOutgoingRequestsPage {
}

#AllOutgoingRequestsPage-GeneralPanel {
}

#AllOutgoingRequestsPage-GeneralPanel-Text {
  font-size: 20px;
}

#AllOutgoingRequestsPage-GeneralPanel-SeeActiveLink {
  font-size: 15px;
}

#AllOutgoingRequestsPage-TablePanel {
  margin-top: 30px;
}
