button {
  border-radius: 5px;
}

input {
  border-radius: 5px;
}

textarea {
  border-radius: 5px;
}

select {
  font-size: inherit;
  border-color: #999;
}

.application-page {
  display: block;
  padding-right: 10px;
  padding-bottom: 10px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  overflow: auto;
}

.link-button {
  background: transparent;
  border-style: none;
  cursor: pointer;
  outline: none;
  
  color: rgb(50, 50, 150);
}

.link-button:hover {
  text-decoration: underline;
  color: blue;
}

.link-button:active {
  text-decoration: underline;
  color: red;
}

.link-button:disabled {
  text-decoration: none;
  color: gray;
}

