button {
  border-radius: 5px;
}

input {
  border-radius: 5px;
}

textarea {
  border-radius: 5px;
}

select {
  font-size: inherit;
  border-color: #999;
}

.application-page {
  display: block;
  padding-right: 10px;
  padding-bottom: 10px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  overflow: auto;
}

.link-button {
  background: transparent;
  border-style: none;
  cursor: pointer;
  outline: none;
  
  color: rgb(50, 50, 150);
}

.link-button:hover {
  text-decoration: underline;
  color: blue;
}

.link-button:active {
  text-decoration: underline;
  color: red;
}

.link-button:disabled {
  text-decoration: none;
  color: gray;
}




.text-editor-container {
}
.text-editor-textcomponent {
}
.text-editor-attachmentbar {
  margin-top: 10px;
  height: 30px;
}
.text-editor-attachments {
  position: relative;
  float: left;
  width: calc(100% - 120px); 
  height: 30px;
  padding: 0px 10px 0px 10px; 
  white-space: nowrap;
  overflow-x: auto;
}
.text-editor-controlpanel {
  position: relative;
  float: right;
  width: 100px;
  height: 30px;
  text-align: right;
}
.text-editor-attachbutton {
  font-size: 15px;
}
.text-editor-thumbnail {
  display:inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background: red;
}
.text-editor-thumbnail-x {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  
  width: 10px;
  height: 10px;
  background: green;
}
.text-editor-thumbnail:hover .text-editor-thumbnail-x {
  display: block;
}
.text-editor-preview {
  display: block;
  position: fixed;
  left: 25%;
  top: 25%;
  
  width: 50%;
  height: 50%;

  background: red;
}