#HomePage {
}

#HomePage-GeneralPanel {
  font-size: 20px;
  height: 30px;
}

#HomePage-OutgoingRequestPanel {
  margin-top: 10px;
}

#HomePage-OutgoingRequestPanel-Status {
  font-size: 20px;
  height: 30px;
}

#HomePage-OutgoingRequestPanel-SeeActiveRequests {
  font-size: 15px;
  height: 20px;
}

#HomePage-OutgoingRequestPanel-Requests {
  margin-top: 10px;
  padding-right: 10px;
  max-height: calc(50% - 90px);
  overflow-y: auto;
}

#HomePage-IncomingRequestPanel {
  margin-top: 20px;
}

#HomePage-IncomingRequestPanel-Status {
  font-size: 20px;
  height: 30px;
}

#HomePage-IncomingRequestPanel-SeeActiveRequests {
  font-size: 15px;
  height: 20px;
}

#HomePage-IncomingRequestPanel-Requests {
  margin-top: 10px;
  padding-right: 10px;
  max-height: calc(50% - 90px);
  overflow-y: auto;
}

