#HomePage {
}

#HomePage-ContentPanel {
  max-width: 700px;
}

#HomePage-ContentPanel-IncomingRequestsPanel {
  margin-top: 10px;
}

#HomePage-ContentPanel-IncomingRequestsPanel-Title {
  font-family: Verdana;
  font-size: 20px;
  
  color: rgb(0, 110, 167);
}

#HomePage-ContentPanel-IncomingRequestsPanel-RequestView {
  margin-top: 20px;
}

#HomePage-ContentPanel-OutgoingRequestsPanel {
  margin-top: 20px;
}

#HomePage-ContentPanel-OutgoingRequestsPanel-Title {
  font-family: Verdana;
  font-size: 20px;
  
  color: rgb(255, 153, 0);
}

#HomePage-ContentPanel-OutgoingRequestsPanel-RequestView {
  margin-top: 20px;
}
