#HomePage {
}

#HomePage-GeneralPanel {
  font-size: 20px;
}

#HomePage-RequestPanel {
  margin-top: 30px;
}

#HomePage-RequestPanel-Status {
  font-size: 20px;
}

#HomePage-RequestPanel-SeeActiveRequests {
  font-size: 15px;
}

#HomePage-RequestPanel-Requests {
  margin-top: 20px;
  padding-right: 10px;
  max-height: calc(50% - 100px);
  overflow-y: auto;
}

#HomePage-InquiryPanel {
  margin-top: 30px;
}

#HomePage-InquiryPanel-Status {
  font-size: 20px;
}

#HomePage-RequestPanel-Inquiries {
  margin-top: 20px;
  padding-right: 10px;
  max-height: calc(50% - 100px);
  overflow-y: scroll;
}

