#LoginPage {
  text-align: center;
  min-width: 900px;
}

#LoginPage-Description-Left {
  vertical-align: top;
  float: left;
  margin-top: 100px;
  margin-left: 100px;
  display: inline-block;
  width: 20%;

  font-size: 25px;
}

#LoginPage-Description-Right {
  vertical-align: top;
  float: right;
  margin-top: 100px;
  margin-right: 100px;
  display: inline-block;
  width: 20%;

  font-size: 25px;
}


#LoginPage-ContentPanel {
  width: 20%;
  display: inline-block;
  margin-top: 50px;
  font-size: 20px;
}

#LoginPage-ContentPanel-Login, #LoginPage-ContentPanel-Password, #LoginPage-ContentPanel-RememberLogin {
  margin-bottom: 15px;
  font-size: inherit;
}

#LoginPage-ContentPanel-SignInButton {
  width: 100%;
  margin-top: 10px;
  font-size: 20px;
}

#LoginPage-ContentPanel-ForgotPasswordLink {
  margin-top: 15px;
  font-size: 15px;
}

#LoginPage-ContentPanel-SignUpLink {
  margin-top: 25px;
  font-size: 30px;
}

