#LoginPage {
  text-align: center;
  min-width: 900px;
}

#LoginPage-Description-Left {
  vertical-align: top;
  float: left;
  margin-top: 100px;
  margin-left: 100px;
  display: inline-block;
  width: 20%;

  font-size: 25px;
}

#LoginPage-Description-Right {
  vertical-align: top;
  float: right;
  margin-top: 100px;
  margin-right: 100px;
  display: inline-block;
  width: 20%;

  font-size: 25px;
}


#LoginPage-ContentPanel {
  float: right;
  width: 400px;
  display: inline-block;
  margin-top: 50px;
  margin-right: 100px;

  font-family: Verdana;
  font-size: 13px;
}

#LoginPage-ContentPanel-LabelPanel {
  width: 100px;
  display: inline-block;
  text-align: left;
  
  font: inherit;
}

#LoginPage-ContentPanel-LabelPanel-EmailLabel {
  display: block;
  margin-top: 5px;
  
  font: inherit;
}
#LoginPage-ContentPanel-LabelPanel-PasswordLabel {
  display: block;
  margin-top: 40px;
  
  font: inherit;
}


#LoginPage-ContentPanel-ControlPanel {
  float: right;
  width: 300px;
  display: inline-block;
  text-align: left;
  
  font: inherit;
}

#LoginPage-ContentPanel-ControlPanel-Login {
  font: inherit;
}

#LoginPage-ContentPanel-ControlPanel-RememberLoginCheck {
  font: inherit;
  font-size: 12px;
}

#LoginPage-ContentPanel-ControlPanel-ForgotPasswordLink {
  margin-top: 5px;
  text-align: left;
  
  font: inherit;
  font-size: 12px;
}

#LoginPage-ContentPanel-ControlPanel-Password {
  margin-top: 10px;
  
  font: inherit;
}


#LoginPage-ContentPanel-ControlPanel-ButtonsPanel {
  margin-top: 10px;
  font: inherit;
}

#LoginPage-ContentPanel-ControlPanel-ButtonsPanel-SignInButton {
  font: inherit;
}

#LoginPage-ContentPanel-ControlPanel-ButtonsPanel-SignUpLink {
  margin-left: 20px;
  font: inherit;
}


#LoginPage-ContentPanel-ControlPanel-DownloadsPanel {
  margin-top: 40px;
  font: inherit;
}

#LoginPage-ContentPanel-ControlPanel-DownloadsPanel-DownloadAppsLabel {
  font: inherit;
}

#LoginPage-ContentPanel-ControlPanel-DownloadsPanel-DownloadButtonsPanel {
  margin-top: 10px;
  font: inherit;
}

#LoginPage-ContentPanel-ControlPanel-DownloadsPanel-DownloadButtonsPanel-DownloadAndroidButton, #LoginPage-ContentPanel-ControlPanel-DownloadsPanel-DownloadButtonsPanel-DownloadiOSButton  {
  width: 85px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  
  border-width: 0px;
}
#LoginPage-ContentPanel-ControlPanel-DownloadsPanel-DownloadButtonsPanel-DownloadAndroidButton {
  background-image: url(../../imgs/Android.png);
}
#LoginPage-ContentPanel-ControlPanel-DownloadsPanel-DownloadButtonsPanel-DownloadiOSButton {
  float: right;
  background-image: url(../../imgs/iOS.png);
}


