#MenuPage {
}

#MenuPage-MenuPanel {
  width: 200px;
  vertical-align: top;
  margin-left: 0px;
  margin-right: 40px;
  margin-top: 0px;
  display: inline-block;
  
  overflow: hidden;
  white-space: nowrap;
}

#MenuPage-ContentPanel {
  width: calc(100% - 200px - 40px);
  height: 100%;
  overflow: auto;
  display: inline-block;
}

.menupage-menuitem {
  position: relative;
  
  display: block;
  padding: 10px 20px 10px 20px;
  color: rgb(75, 75, 75);
  
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: transparent;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: transparent;

  font-size: 14px;
  font-family: Verdana;
  
  cursor: pointer;
}

.menupage-menuitem:hover {
  color: white;
  background: rgb(0, 133, 63);
  
  border-color: white;
}

.menupage-menuitem-selected {
  background: rgb(0, 133, 63);
  color: white;
  
  border-color: white;
}

.menupage-menuitem-selected:hover {
}

.menupage-menu-thin-separator, .menupage-menu-thick-separator {
  display: block;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(0, 133, 63);
}
.menupage-menu-thick-separator {
  border-bottom-width: 2px;
}

.menupage-menuitem-marker {
  position: absolute;
  right: 10px;
  top: 15px;
  
  width: 10px;
  height: 10px;
  
  border-radius: 5px;
  background: red;
}