#MenuPage {
}

#MenuPage-MenuPanel {
  width: 250;
  vertical-align: top;
  margin-left: 0px;
  margin-right: 50px;
  margin-top: 0px;
  display: inline-block;
  
  overflow: hidden;
  white-space: nowrap;
}

#MenuPage-ContentPanel {
  width: calc(100% - 250px - 80px);
  height: calc(100% - 20px);
  overflow: auto;
  margin-left: 10px;
  margin-top: 20px;
  padding-right: 10px;
  display: inline-block;
}

.menupage-menuitem {
  display: block;
  padding: 10px 20px 10px 20px;
  color: rgb(86, 108, 17);
  
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: transparent;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: transparent;

  font-size: 20px;
}

.menupage-menuitem:hover {
  color: white;
  background: rgb(86, 108, 17);
  
  border-color: white;
}

.menupage-menuitem-selected {
  background: rgb(86, 108, 17);
  color: white;
  font-weight: bold;
  
  border-color: white;
}

.menupage-menuitem-selected:hover {
}

.menupage-menu-thin-separator {
  display: block;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
}

.menupage-menu-thick-separator {
  display: block;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: black;
}
