#NewRequestPage {
}

#NewRequestPage-GeneralPanel {
  display: block;
  
  font-size: 20px;
}

#NewRequestPage-RequestContentPanel {
  display: block;
  margin-top: 20px;
}

#NewRequestPage-RequestContentPanel-Label {
  display: block;
  text-align: left;
  
  font-size: 20px;
}

#NewRequestPage-RequestContentPanel-TextEditor {
  margin-top: 10px;
  
  font-size: 15px;
}

#NewRequestPage-RequestExpertiseCategoryPanel {
  display: block;
  margin-top: 10px;
  
  font-size: 20px;
}

#NewRequestPage-RequestExpertiseCategoryPanel-Label {
  display: block;
  text-align: left;
  margin-bottom: 10px;

  font-size: 20px;
}

#NewRequestPage-RequestExpertiseCategoryPanel-Container {
  margin-left: 1%;
  width: 98%;
}



#NewRequestPage-RequestParametersPanel {
  display: block;
  margin-top: 30px;
  
  font-size: 20px;
}

#NewRequestPage-RequestParametersPanel-Label {
  display: block;
  text-align: left;

  font-size: 20px;
}

#NewRequestPage-RequestParametersPanel-Note {
  display: block;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 10px;

  font-size: 15px;
}

#NewRequestPage-RequestParametersPanel-TargetSelectors {
  padding: 0px 5px 0px 5px;
}

#NewRequestPage-RequestControlPanel {
  display: block;
  margin-top: 20px;
  
  text-align: center;
}

#NewRequestPage-RequestControlPanel-Label {
  display: block;
  text-align: left;
  margin-bottom: 20px;

  font-size: 20px;
}

#NewRequestPage-RequestControlPanel-SendButton {
  padding: 0px 50px 0px 50px;
  font-size: 30px;
}

#NewRequestPage-RequestControlPanel-ResetButton {
  font-size: 20px;
}
