#NewRequestPage {
}


#NewRequestPage-ContentPanel {
  position: relative;
  width: 700px;
  display: inline-block;
  margin-top: 20px;
  
  font-family: Verdana;
  font-size: 13px;
}

#NewRequestPage-ContentPanel-RequestEditorLabel {
  margin-top: 10px;
  font: inherit;
}

#NewRequestPage-ContentPanel-TextEditor {
  margin: 10px 5px 5px 5px;
  font: inherit;
}

#NewRequestPage-ContentPanel-AttachmentBar {
  margin-left: 5px;
  margin-right: 5px;
}

#NewRequestPage-ContentPanel-ExpertiseCategoryLabel {
  margin-top: 10px;
  font: inherit;
}

#NewRequestPage-ContentPanel-ExpertiseCategory {
  width: 300px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  font: inherit;
}


#NewRequestPage-ContentPanel-WhomToSendLabel {
}

#NewRequestPage-ContentPanel-WhomToSendPanel {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
}
#NewRequestPage-ContentPanel-WhomToSendPanel-Gender {
  width: 300px;
  display: inline-block;
}
#NewRequestPage-ContentPanel-WhomToSendPanel-Age {
  width: 300px;
  display: inline-block;
  float: right;
}


#NewRequestPage-ContentPanel-HowLongToWaitLabel {
  margin-top: 20px;
  font: inherit;
}

#NewRequestPage-ContentPanel-HowLongToWaitPanel {
  margin-top: 10px;
  margin-left: 20px;
}
#NewRequestPage-ContentPanel-HowLongToWaitPanel-Quantity {
  width: 300px;
  display: inline-block;
}
#NewRequestPage-ContentPanel-HowLongToWaitPanel-WaitTime {
  width: 300px;
  display: inline-block;
  float: right;
}


#NewRequestPage-ContentPanel-SendButton {
  width: 180px;
  margin-top: 50px;
  margin-left: 140px;
  
  font-size: 20px;
}

#NewRequestPage-ContentPanel-ResetButton {
  width: 55px;
  float: right;
  margin-top: 60px;
  margin-right: 245px;
}


#NewRequestPage-ContentPanel-RightClarificationPanel {
  width: 200px;
  position: absolute;
  top: 0;
  left: 720;
  display: inline-block;
  
  font-family: Verdana;
  font-size: 13px;
}

#NewRequestPage-ContentPanel-RightClarificationPanel-FileFormatsClarification {
  margin-top: 120px;
}

#NewRequestPage-ContentPanel-RightClarificationPanel-PreferencesClarification {
  margin-top: 170px;
}

