#NewRequestPage {
}

#NewRequestPage-GeneralPanel {
  display: block;
  
  font-size: 20px;
}

#NewRequestPage-RequestContentPanel {
  display: block;
  margin-top: 20px;
}

#NewRequestPage-RequestContentPanel-Label {
  display: block;
  text-align: left;
  
  font-size: 20px;
}

#NewRequestPage-RequestContentPanel-Text {
  display: block;
  margin-top: 10px;
  
  font-size: 15px;
}


#NewRequestPage-RequestParametersPanel {
  display: block;
  margin-top: 30px;
  
  font-size: 15px;
}

#NewRequestPage-RequestParametersPanel-Label {
  display: block;
  text-align: left;

  font-size: 20px;
}

#NewRequestPage-RequestParametersPanel-Note {
  display: block;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 10px;

  font-size: 15px;
}

#NewRequestPage-RequestControlPanel {
  display: block;
  margin-top: 30px;
  
  text-align: center;
}

#NewRequestPage-RequestControlPanel-Label {
  display: block;
  text-align: left;
  margin-bottom: 20px;

  font-size: 20px;
}

#NewRequestPage-RequestControlPanel-ButtonHolder {
}

#NewRequestPage-RequestControlPanel-ButtonHolder-SendButton {
  padding: 0px 50px 0px 50px;
  font-size: 30px;
}
