#OutgoingRequestDetailsPage {
}

#OutgoingRequestDetailsPage-GeneralPanel {
  height: 40px;
}

#OutgoingRequestDetailsPage-GeneralPanel-PreviousLink {
  width: 100%;
  text-align: left;
  font-size: 20px;
}

#OutgoingRequestDetailsPage-GeneralPanel-NextLink {
  width: 100%;
  text-align: right;
  font-size: 20px;
}

#OutgoingRequestDetailsPage-GeneralPanel-GoBackLink {
  width: 100%;
  text-align: center;
  font-size: 25px;
}

#OutgoingRequestDetailsPage-RequestsPanel {
  margin-top: 20px;
  padding-right: 10px;
  height: calc(100% - 40px - 20px);
  width: calc(100% - 10px);
  overflow: auto;
}

