#RegisterPage {
  text-align: center;
  min-width: 900px;
}

#RegisterPage-Description-Left {
  vertical-align: top;
  float: left;
  margin-top: 100px;
  margin-left: 100px;
  display: inline-block;
  width: 20%;
  
  font-size: 25px;
}

#RegisterPage-Description-Right {
  vertical-align: top;
  float: right;
  margin-top: 100px;
  margin-right: 100px;
  display: inline-block;
  width: 20%;
  
  font-size: 25px;
}

#RegisterPage-ContentPanel {
  width: 30%;
  display: inline-block;
  margin-top: 50px;
  font-size: 20px;
}

#RegisterPage-ContentPanel-Email, #RegisterPage-ContentPanel-Name, #RegisterPage-ContentPanel-Gender, #RegisterPage-ContentPanel-AgeCategory, #RegisterPage-ContentPanel-Languages, #RegisterPage-ContentPanel-Password, #RegisterPage-ContentPanel-RetypePassword {
  margin-bottom: 20px;
  font-size: inherit;
}

#RegisterPage-ContentPanel-Gender, #RegisterPage-ContentPanel-AgeCategory {
  border-color: #999;
}

#RegisterPage-ContentPanel-TermsAndConds-AcceptTerms {
  margin-right: 20px;
  font-size: inherit;
}


#RegisterPage-ContentPanel-RegisterButton {
  width: 100%;
  margin-top: 10px;
  font-size: 20px;
}



