#RequestDetailsPage {
}

#RequestDetailsPage-GeneralPanel {
  margin-bottom: 20px;
}

#RequestDetailsPage-GeneralPanel-PreviousLink {
  width: 100%;
  text-align: left;
  font-size: 20px;
}

#RequestDetailsPage-GeneralPanel-NextLink {
  width: 100%;
  text-align: right;
  font-size: 20px;
}

#RequestDetailsPage-GeneralPanel-GoBackLink {
  width: 100%;
  text-align: center;
  font-size: 25px;
}
