#UserProfilePage {
  text-align: center;
}

#UserProfilePage-ProfilePanel {
  width: 500px;
  display: inline-block;
  margin-top: 10px;
  position: relative;
  
  font-family: Verdana;
  font-size: 13px;
}

#UserProfilePage-ProfilePanel-ProfileLabel {
  display: block;
  font-size: 20px;
  text-align: left;
  
  color: rgb(0, 133, 63);
}

#UserProfilePage-ProfilePanel-Nickname, #UserProfilePage-ProfilePanel-NewPassword, #UserProfilePage-ProfilePanel-ConfirmNewPassword, #UserProfilePage-ProfilePanel-CurrentPassword, #UserProfilePage-ProfilePanel-GenderAgeLanguagePanel {
  margin-top: 10px;
  font: inherit;
}

#UserProfilePage-ProfilePanel-GenderAgeLanguagePanel-Gender, #UserProfilePage-ProfilePanel-GenderAgeLanguagePanel-Age, #UserProfilePage-ProfilePanel-GenderAgeLanguagePanel-Language {
  display: inline-block;
  font: inherit;
}
#UserProfilePage-ProfilePanel-GenderAgeLanguagePanel-Gender {
  width: 120px;
}
#UserProfilePage-ProfilePanel-GenderAgeLanguagePanel-Age {
  width: 120px;

  margin-left: 25px;
  margin-right: 25px;
}
#UserProfilePage-ProfilePanel-GenderAgeLanguagePanel-Language {
  width: calc(100% - 240px - 50px);
}


#UserProfilePage-ProfilePanel-ButtonsPanel {
  margin-top: 30px;
  text-align: center;
}

#UserProfilePage-ProfilePanel-ButtonsPanel-UpdateButton {
  margin-right: 200px;
  
  font: inherit;
}

#UserProfilePage-ProfilePanel-ButtonsPanel-CancelButton {
  font: inherit;
}


#UserProfilePage-ProfilePanel-LeftClarificationPanel {
  width: 200px;
  position: absolute;
  top: 0;
  right: 520;
  display: inline-block;
  
  font-family: Verdana;
  font-size: 13px;
}

#UserProfilePage-ProfilePanel-RightClarificationPanel {
  width: 200px;
  position: absolute;
  top: 0;
  left: 520;
  display: inline-block;
  
  font-family: Verdana;
  font-size: 13px;
}

#UserProfilePage-ProfilePanel-LeftClarificationPanel-PasswordClarification {
  margin-top: 140px;
}

#UserProfilePage-ProfilePanel-RightClarificationPanel-LanguageClarification {
  margin-top: 80px;
}
