#UserPreferencesPage {
  text-align: center;
}

#UserPreferencesPage-GeneralPanel {
  display: block;
  text-align: left;
  margin-bottom: 20px;
  
  font-size: 20px;
}


#UserPreferencesPage-RequestPreferencesLabel, #UserPreferencesPage-InquiryPreferencesLabel, #UserPreferencesPage-ContactInfoPreferencesLabel {
  display: block;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

#UserPreferencesPage-RequestPreferencesPanel, #UserPreferencesPage-InquiryPreferencesPanel , #UserPreferencesPage-ContactInfoPreferencesPanel {
  width: 50%;
  display: inline-block;

  font-size: 20px;
}

#UserPreferencesPage-RequestPreferencesPanel-Quantity, #UserPreferencesPage-RequestPreferencesPanel-Gender, #UserPreferencesPage-RequestPreferencesPanel-AgeCategory, #UserPreferencesPage-RequestPreferencesPanel-WaitTime, #UserPreferencesPage-RequestPreferencesPanel-Gender, #UserPreferencesPage-InquiryPreferencesPanel-DailyInquiryLimit, #UserPreferencesPage-InquiryPreferencesPanel-InquiryAge, #UserPreferencesPage-InquiryPreferencesPanel-InquiryGender, #UserPreferencesPage-ContactInfoPreferencesPanel-Expertise, #UserPreferencesPage-ContactInfoPreferencesPanel-AllowContactInfo, #UserPreferencesPage-ContactInfoPreferencesPanel-Name, #UserPreferencesPage-ContactInfoPreferencesPanel-Contact {
  margin-bottom: 15px;
}

#UserPreferencesPage-ContactInfoPreferencesPanel-AllowContactInfo, #UserPreferencesPage-ContactInfoPreferencesPanel-Name, #UserPreferencesPage-ContactInfoPreferencesPanel-Contact {
  font-size: 20px;
}




#UserPreferencesPage-ControlPanel {
  display: block;
  margin-top: 20px;
}


#UserPreferencesPage-ControlPanel-UpdateButton {
  width: 100%;
  font-size: 20px;
}

#UserPreferencesPage-ControlPanel-ResetButton {
  font-size: 20px;
}
