#UserPreferencesPage {
}

#UserPreferencesPage-PreferencesPanel {
  width: 500px;
  display: inline-block;
  margin-top: 10px;
  margin-left: calc(50% - 300px);
  position: relative;
  
  font-family: Verdana;
  font-size: 13px;
}

#UserPreferencesPage-PreferencesPanel-PreferencesLabel {
  display: block;
  font-size: 20px;
  text-align: left;
  
  color: rgb(0, 133, 63);
}

#UserPreferencesPage-PreferencesPanel-RequestsPreferencesPanel {
  margin-top: 20px;
}

#UserPreferencesPage-PreferencesPanel-RequestsPreferencesPanel-RequestsPreferencesLabel {
  display: block;
  font-size: 16px;
  text-align: left;
  
  color: rgb(0, 133, 63);
}

#UserPreferencesPage-PreferencesPanel-RequestsPreferencesPanel-Gender {
  display: inline-block;
  width: 200px;
  margin-left: 50px;
  margin-top: 10px;
  font: inherit;
}

#UserPreferencesPage-PreferencesPanel-RequestsPreferencesPanel-Age {
  display: inline-block;
  width: 200px;
  margin-left: 50px;
  margin-top: 10px;
  font: inherit;
}

#UserPreferencesPage-PreferencesPanel-RequestsPreferencesPanel-Quantity {
  display: inline-block;
  width: 200px;
  margin-left: 50px;
  margin-top: 10px;
  font: inherit;
}

#UserPreferencesPage-PreferencesPanel-RequestsPreferencesPanel-WaitTime {
  display: inline-block;
  width: 200px;
  margin-left: 50px;
  margin-top: 10px;
  font: inherit;
}


#UserPreferencesPage-PreferencesPanel-InquiriesPreferencesPanel {
  margin-top: 20px;
}

#UserPreferencesPage-PreferencesPanel-InquiriesPreferencesPanel-InquiriesPreferencesLabel {
  display: block;
  font-size: 16px;
  text-align: left;
  
  color: rgb(0, 133, 63);
}

#UserPreferencesPage-PreferencesPanel-InquiriesPreferencesPanel-Gender {
  display: inline-block;
  width: 200px;
  margin-left: 50px;
  margin-top: 10px;
  font: inherit;
}

#UserPreferencesPage-PreferencesPanel-InquiriesPreferencesPanel-Age {
  display: inline-block;
  width: 200px;
  margin-left: 50px;
  margin-top: 10px;
  font: inherit;
}

#UserPreferencesPage-PreferencesPanel-InquiriesPreferencesPanel-DailyInquiryLimit {
  margin-top: 10px;
  margin-left: 50px;
  font: inherit;
}


#UserPreferencesPage-PreferencesPanel-ContactPreferencesPanel {
  margin-top: 20px;
}

#UserPreferencesPage-PreferencesPanel-ContactPreferencesPanel-ContactPreferencesLabel {
  display: block;
  font-size: 16px;
  text-align: left;
  
  color: rgb(0, 133, 63);
}

#UserPreferencesPage-PreferencesPanel-ContactPreferencesPanel-Expertise {
  margin-top: 10px;
  margin-left: 50px;
  font: inherit;
}

#UserPreferencesPage-PreferencesPanel-ContactPreferencesPanel-AllowContactInfo {
  margin-top: 10px;
  margin-left: 50px;
  font: inherit;
}

#UserPreferencesPage-PreferencesPanel-ContactPreferencesPanel-Name {
  margin-top: 10px;
  margin-left: 50px;
  font: inherit;
}

#UserPreferencesPage-PreferencesPanel-ContactPreferencesPanel-Contact {
  margin-top: 10px;
  margin-left: 50px;
  font: inherit;
}


#UserPreferencesPage-PreferencesPanel-ButtonsPanel {
  margin-top: 30px;
  margin-left: 50px;
  text-align: center;
}

#UserPreferencesPage-PreferencesPanel-ButtonsPanel-UpdateButton {
  margin-right: 200px;
  
  font: inherit;
}

#UserPreferencesPage-PreferencesPanel-ButtonsPanel-CancelButton {
  font: inherit;
}


#UserPreferencesPage-PreferencesPanel-LeftClarificationPanel {
  width: 250px;
  position: absolute;
  top: 0;
  right: 520;
  display: inline-block;
  
  font-family: Verdana;
  font-size: 13px;
}

#UserPreferencesPage-PreferencesPanel-RightClarificationPanel {
  width: 350px;
  position: absolute;
  top: 0;
  left: 520;
  display: inline-block;
  
  font-family: Verdana;
  font-size: 13px;
}

#UserPreferencesPage-PreferencesPanel-LeftClarificationPanel-ResponsesClarificationPanel {
  margin-top: 120px;
}

#UserPreferencesPage-PreferencesPanel-RightClarificationPanel-TimeFrameClarificationPanel {
  margin-top: 120px;
  margin-right: 150px;
}

#UserPreferencesPage-PreferencesPanel-RightClarificationPanel-ContactClarificationPanel {
  margin-top: 160px;
}
