body {
  margin: 0px;
  width: 100%;
  height: 100%;
  
  background: rgb(253, 244, 196);
}

#Title {
  width: 100%;
  height: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  white-space: nowrap;
  text-align: center;
  background: rgb(254, 251, 233);
}
#Title-Label {
  font-size: 50px;
  font-style: italic;
  font-weight: bold;
  color: rgb(185, 122, 87);
}
#Title-Language {
  position: absolute;
  right: 30px;
  top: 10px;
}
#Title-Language-Text {
  font-size: 15px;
  font-style: italic;
}

#Title-User {
  position: absolute;
  right: 30px;
  top: 30px;
}
#Title-User-Text {
  font-size: 15px;
  font-style: italic;
}

#Footer {
  width: 100%;
  height: 15px;
  position: fixed;
  bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  white-space: nowrap;
  text-align: center;
  background: rgb(100, 100, 170);
}

#Footer-Label {
  font-size: 15px;
  color: rgb(255, 255, 255);
}

#Footer-ContactUs {
  position: absolute;
  margin-left: 100px;
  padding: 0px;
  
  font-size: 13px;
  color: rgb(255, 255, 255);
}
#Footer-ContactUs:hover {
  color: rgb(255, 0, 0);
}
#Footer-ContactUs:active {
  color: rgb(255, 255, 0);
}

#RootContainer {
  width: calc(100% - 10px);
  height: calc(100% - 95px);
  overflow: auto;
  padding: 5px;
}


