body {
  margin: 0px;
  width: 100%;
  height: 100%;
}

#Title {
  width: 100%;
  height: 80px;
  padding-top: 5px;
  padding-bottom: 5px;
  white-space: nowrap;
  
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(0, 133, 63);
}
#Title-Image {
  float: right;
  margin-right: 50px;
  margin-top: 20px;
  content: url(../imgs/AskTheWorld.png);
}
#Title-Options {
  text-align: right;
  padding-right: 20px;
  top: 10px;

  font-size: 12px;
}
#Title-Options-Language-Button, #Title-Options-Separator, #Title-Options-User-Button {
  display: none;
  position: relative;
  font-size: inherit;
  color: rgb(75, 75, 75);
}
#Title-Options-Separator {
  margin-right: 5px;
  margin-left: 5px;
}
#Title-Options-Language-Button {
  display: inline-block;
}
#Title-Options-Language-Button:hover, #Title-Options-User-Button:hover {
  color: rgb(17, 77, 7);
}


#Footer {
  width: 100%;
  height: 15px;
  position: fixed;
  bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  white-space: nowrap;
  background: rgb(0, 133, 63);
  color: white;
  
  font-family: Verdana;
  font-size: 12px;
}

#Footer-Label {
  padding-left: 20px;
  color: inherit;
}

#Footer-ContactUs {
  float: right;
  margin-right: 20px;
  
  font: inherit;
  color: inherit;
}
#Footer-ContactUs:hover {
  color: rgb(255, 0, 0);
}
#Footer-ContactUs:active {
  color: rgb(100, 230, 240);
}

#RootContainer {
  width: calc(100% - 0px);
  height: calc(100% - 115px);
  overflow: auto;
}


