
#TopLevelToolbar {
  height: 40px;
  margin-right: 50px;
  margin-left: 50px;
  padding-right: 50px;
  padding-left: 50px;
}

#TopLevelToolbar-Left, #TopLevelToolbar-Right {
  width: 50%;
}

#TopLevelToolbar-Left {
  float: left;
  align: left;
}

#TopLevelToolbar-Right {
  float: right;
  text-align: right;
}

.topleveltoolbar-button {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 30px;
}



.panel-input {
  width: 100%;
}

.panel-button {
}

.panel-right {
  width: 50%;
  float: right;
  text-align: right;
  margin-top: 30px;
}

.panel-left {
  width: 50%;
  float: left;
  text-align: left;
  margin-top: 30px;
}

#LoginPanel, #RegisterUserPanel, #ModifyUserProfilePanel {
  margin-top: 20px;
}

#LoginPanel {
  width: 20%;
  float: right;
  padding: 20px;
  text-align: left;
  display: none;
}

#LoginPanel-Register {
  margin-top: 10px;
  float: left;
}

#RegisterUserPanel {
  width: 30%;
  float: right;
  padding: 20px;
  text-align: left;
  display: none;
}

#ModifyUserProfilePanel {
  width: 30%;
  float: right;
  padding: 20px;
  text-align: left;
  display: none;
}

.input-error {
  color: red;
}
